.container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  color: white;
  margin: 0 auto;
  margin-top: 50px;
}



@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: auto;
  }
}
